# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
test-output
target
crmCases/src/main/resources/
crmCases/src/test/
crmCases/target/
crmCases/test-output/
service/src/main/resources/
service/src/test/
service/target/
target/classes/.gitignore
target/classes/crmCases/
target/classes/pom.xml
target/classes/service/
target/classes/target/classes/.gitignore
target/classes/target/classes/crmCases/
target/classes/target/classes/pom.xml
target/classes/target/classes/service/
