<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="report.config" value="src/main/resources/config/report/extent-config.xml"/>
    <parameter name="system.info" value="com.ydd.config.MySystemInfo"/>
    <parameter name="brower" value="chrome" />  <!--浏览器类型-->
    <test verbose="2" preserve-order="true" name="測試集合1">
        <classes>
            <class name="com.ydd.crm.cases.LoginCase">
                <methods>
                    <include name="testLogin"></include>
                    <!--<include name="test2"></include>-->
                </methods>
            </class>
        </classes>
</test>
    <listeners>
      <!--  <listener class-name="com.ydd.utils.ExtentTestNGIReporterListener"></listener>-->
        <listener class-name="com.ydd.utils.listener.MyExtentTestNgFormatter"></listener>
    </listeners>
</suite>